<div class="is-boxed">
  <ng-container *ngIf="posts.length > 0; else elseTemplate">
      <div *ngFor="let post of posts" class="card" style="margin-bottom: 30px;">
          <div (click)="showPost(post.id);" class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{post.title}}</p>
                <p class="subtitle is-6">@{{post.author}}</p>
              </div>
            </div>
      
            <div class="content">
              <div [innerHtml]="post.content"></div>
              <br>
              <time datetime="2016-1-1">{{post.created_at}}</time>
            </div>
          </div>
          <div *ngIf="userService.getUser();">
            <div *ngIf="userService.getUser()['username'] == post.author">
              <footer class="card-footer">
                <a href="#" routerLink="/post/edit/{{post.id}}" class="card-footer-item">Modifer</a>
                <a href="#" routerLink="/post/remove/{{post.id}}" class="card-footer-item">Supprimer</a>
              </footer>
            </div>
          </div>
      
      
        </div>
  </ng-container>
  <ng-template #elseTemplate>
    <span>Cette catégorie est encore vide.</span>
  </ng-template>
  

</div>
