<nav class="navbar is-dark is-ws-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" style="color: #999999;" routerLink="/">
      MonBlog
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarApp">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarApp" class="navbar-menu">
    <div class="navbar-end">
      <div *ngIf="!userService.getUser(); else isLoggedIn">
        <div class="navbar-item">
          <a class="button is-primary">
            <strong>S'inscrire</strong>
          </a>
        </div>
      </div>
      <ng-template #isLoggedIn>
        <div class="navbar-item">
          <a (click)="userService.logoutUser();" class="button is-danger">
            <strong>Se deconnecter</strong>
          </a>
        </div>
      </ng-template>


      <div class="navbar-item has-dropdown is-hoverable">
        <app-login></app-login>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-medium is-ws-hero is-bold">
  <div class="hero-body" style="padding-top:5.75rem;">
    <div class="container">
      <h1 class="title" style="color:white;">
        Actualités
      </h1>
      <h2 class="subtitle" style="color:white;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est in excepturi quia autem, quisquam modi.
      </h2>
    </div>
  </div>
</section>