<div *ngIf="!userService.getUser(); else isLoggedIn">

      <a class="navbar-link is-arrowless">
          <a class="button is-secondary">
              Se connecter 
          </a>
        </a>
        <div class="navbar-dropdown" style="margin-left:-100%;">
            <form class="form-signin">
                <div class="field">
                  <p class="control has-icons-left">
                    <input  [(ngModel)] = "user.username" class="input" type="email" name="email" placeholder="Adresse email">
                    <span class="icon is-large is-left">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input [(ngModel)] = "user.password" class="input" type="password" name="password" placeholder="Mot de passe">
                    <span class="icon is-large is-left">
                      <i class="fa fa-key"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <a (click)="validateLogin();" class="button is-primary">
                      Se connecter
                    </a>
                  </p>
                </div>
              </form>
        </div>

</div>

<ng-template #isLoggedIn>
    <a class="navbar-link is-arrowless">
        <a class="button is-secondary">
            Bonjour {{userService.getUser()['username']}}
        </a>
      </a>

      <div class="navbar-dropdown" style="color:black;">
          {{userService.getUser()['firstname']}}<br>
          {{userService.getUser()['lastname']}}
      </div>
  </ng-template>