.post-container {
    background-color:white;
    border: 2px solid #efeeee;
    margin-top:-3.25rem;
    border-radius: 3px;
}

.title-post {
    font-weight: 300;
    font-size: 35px;
    padding: 10px;
}
.left-items-info-post span{
    margin-right: 20px; 
    color:#b3b3b3;
}