<div class="post-container" style="margin-left:8%; margin-right:8%;">
  <div *ngIf="showPost; else addPost">
    <div class="title-post" style="min-height:3.25rem; line-height: 2.75rem; background-color: #efeeee; padding-left: 10px; padding-right:10px;">

      <div class="is-clearfix	">
        <a class="button is-dark" routerLink="/" style="float:left">
          Retour
        </a>

        <p *ngIf="isOwner;" class="buttons" style="float:right;">
          <a (click)="editThePost(post.id);" class="button">
            <span class="icon is-small">
              <i class="fa fa-pencil"></i>
            </span>
          </a>
          <a (click)="removeThePost(post.id);" class="button">
            <span class="icon is-small">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </p>
      </div>
      <h1>{{post.title}}</h1>
    </div>
    <div id="info-post" class="navbar-menu" style="color:#b3b3b3">
      <div class="navbar-start">
        <div class="navbar-item left-items-info-post">
          <span><i class="fa fa-user-o" aria-hidden="true"></i> {{post.author}}</span>
          <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{post.created_at}}</span>

        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <span><i class="fa fa-comment-o" aria-hidden="true"></i>{{post.count_comments}} Commentaires</span>

        </div>
      </div>
    </div>

    <div class="content-post" [innerHtml]="post.content" style="padding:30px;"></div>

  </div>
  <ng-template #addPost>
    <nav class="is-warning" style="height:3.25rem; background-color: #efeeee;">
      <div class="control has-icons-left ">
        <input [(ngModel)]="post.title" class="input is-large" type="text" placeholder="Saisissez le titre de l'article">
        <span class="icon is-medium is-left">
          <i class="fa fa-th-large"></i>
        </span>

      </div>
    </nav>
    <angular-editor [(ngModel)]="post.content" [config]="config"></angular-editor>

    <div class="select">
      <select [(ngModel)]="post.id_category">
          <option [ngValue]="0" default>Choisissez une catégorie</option>
          <option *ngFor="let category of listOfCategories" [ngValue]="category.id">{{category.name}}</option>
      </select>
    </div>

    <div class="is-clearfix">
      <a (click)="validateAddForm();" type="button" class="button is-dark" style="float:right">Valider</a>
    </div>
  </ng-template>
</div>
