<footer class="footer" style="margin-top:100px;">
  <div class="content has-text-centered">
    <p>
      Fait dans le cadre du projet web full stack par <strong>BENNANI Soufiane</strong>, encadré par monsieur <strong>ANGLES Renaud</strong>
    </p>
  </div>
</footer>