/* You can add global styles to this file, and also import other style files */
.button.is-primary {
    background-color: #82b541;
    color: white;
}

.button.is-secondary {
    border: 1px solid #82b541;
    background-color: transparent;
    border-radius: 4px;
    color: white;
}