<div class="home-container" style="margin-left:8%; margin-right:8%;">

  <nav class="is-warning" style="height:3.25rem; background-color: white;">
    <div class="columns">
        <div *ngFor="let category of listOfCategories" class="column has-text-centered" style="padding: 0;">

            <a (click)="showPostByCategory(category.id);" class="button has-text-centered ws-nav-cateogry-button" type="button">
                {{category.name}}
            </a>
        </div>
    </div>
</nav>

  <div class="columns" style="margin-top:30px;">
    <div class="column" style="margin-left:8%; margin-right:8%;">

      <div *ngIf="userService.getUser();">
        <div class="is-clearfix" style="margin-bottom:20px;">
          <a type="button" routerLink="/post/add" class="button is-dark" style="float:right;">Ajouter un article</a>
        </div>
      </div>

      <app-show-list [idCategory]="idCategory"></app-show-list>
    </div>
  </div>
</div>
